{% extends 'incaDB/base.html' %}

{% block content %}
<div class="row">
    <form action="{% url 'funds_store_single' %}" method="POST" style="margin-bottom:2%">
      {% csrf_token %}
	  <div class="col-lg-6 col-lg-offset-3">
	    <div class="input-group">
	      <input type="text" class="form-control" name="words" placeholder="키워드 입력... (콤마로 구분)">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="submit">펀드 생성/업데이트</button>
	      </span>
	    </div>
	  </div>
    </form>

    <form action="{% url 'funds_store_multi' %}" method="post" enctype="multipart/form-data"> 
	   	{% csrf_token %}
		<div class="col-lg-6 col-lg-offset-3">
		   <div class="input-group" style="float:left;width:85%;">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse… <input type="file" name="file" id="file" style="display: none;">
                    </span>
                </label>
                <input type="text" id="fname" class="form-control" readonly="">
            </div>
		    <input class="btn btn-default" type="submit" value="펀드 생성/업데이트" />
         </div>
     </form>

     <form action="{% url 'price_store_multi' %}" method="post" enctype="multipart/form-data"> 
      {% csrf_token %}
    <div class="col-lg-6 col-lg-offset-3">
       <div class="input-group" style="float:left;width:86%;">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse… <input type="file" name="file" id="file2" style="display: none;">
                    </span>
                </label>
                <input type="text" id="fname-2" class="form-control" readonly="">
            </div>
        <input class="btn btn-default" type="submit" value="수정기준가 생성" />
         </div>
     </form>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
// show file information
  $(document).ready( function() {
      $('#file').on('fileselect', function(event, numFiles, label) {
          console.log(numFiles);
          console.log(label);
      });
      // show file name 
      $(document).on('change', '#file', function() {
          var input = $(this),
              numFiles = input.get(0).files ? input.get(0).files.length : 1,
              label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
          input.trigger('fileselect', [numFiles, label]);
          console.log('sylee');
          $('#fname').val(label);
      });
    });
    $('#file2').on('fileselect', function(event, numFiles, label) {
          console.log(numFiles);
          console.log(label);
      });
      // show file name 
      $(document).on('change', '#file2', function() {
          var input = $(this),
              numFiles = input.get(0).files ? input.get(0).files.length : 1,
              label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
          input.trigger('fileselect', [numFiles, label]);
          console.log('label');
          $('#fname-2').val(label);
      });
</script>
{% endblock %}